---
layout: empty.hbs
title: Index
---
	
    <style type="text/css">
    .droppable {
    	border: 1px dashed black;
    	height: 30px;
    	text-align: center;
    	vertical-align: middle;
    	font-size: 19px;
    	background-color: #f0f0f0;
        margin-top:10px;
        margin-bottom:10px;
    }
    .ui-droppable-active {
        background-color: red;
    }
    .ui-droppable-hover {
        background-color: green;
    }
    </style>
    <div class="container">
      <div class="row">
<h2>Hello! I`m iframe with droppable zones and scroll!</h2>
<div class="droppable">Drop zone</div>
<p><div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium laborum excepturi quasi suscipit, perspiciatis eligendi sit nesciunt provident quaerat cupiditate maiores pariatur iure eaque commodi numquam doloribus, similique quisquam! Harum.</div>
<div>Ipsam optio saepe illum doloremque id itaque ad, beatae dolore voluptate ratione, quisquam, eos. Doloribus, cum sequi assumenda pariatur eligendi, dolore. Sapiente mollitia qui laudantium expedita dolore. Necessitatibus, cupiditate deleniti?</div>
<div class="droppable">Drop zone</div>
<div>Nesciunt expedita ipsa iusto esse quisquam ducimus, dolorum. Ullam, sunt culpa? Quod odio provident eius nulla quo veniam, debitis rerum, velit voluptates, nostrum voluptatem aspernatur dolores quidem qui doloremque aut.</div>
<div class="droppable">Drop zone</div>
<div>Recusandae rerum id perspiciatis, odio expedita laborum, consequatur vel, perferendis provident nulla officia sit error ea. Eaque corporis quo tempore expedita iure ad molestias impedit dolore, delectus sint, minus illo!</div>
<div class="droppable">Drop zone</div>
<div>Minima nobis omnis quasi earum debitis quas quibusdam velit voluptatum magni modi voluptas, molestias optio consectetur eum aliquid distinctio totam doloremque sunt facilis ducimus ea maxime quo dignissimos dolore. Sit?</div>
<div class="droppable">Drop zone</div>
</div>
</div>